body{
  margin: 0;
  overflow-x: hidden;
}

/* rgb(137, 214, 59)
rgb(107, 164, 47) */

.mainHeader{
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.homeSection{
  padding: 2rem;
  background-color: rgb(236, 236, 236);
  color: rgb(107, 164, 47);
  width: 50%;
  margin: 1rem auto;
  box-shadow: 0 0 8px 0 black;
  border-radius: 3px;
}

.sectionFlex{
  display: flex;
  justify-content: center;
}

.sectionItem{
  padding: 0.75rem;
  width: 100%;
}

.welcomeImage{
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

h1{
  font-size: 2.5vw;
}

h2{
  margin: 0;
  font-size: 2.5vw;
  color: rgb(74, 119, 25);
}

p{
  font-size: 2.5vh;
}

.buttonSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  margin: 50px auto 0;
  border-style: unset;
  background-image: url(../images/CheeseHeader.png);
  background-size: cover;
  color: white;
  font-size: 2vw;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 black;
  width: 80%;
}

.button:hover{
  background-color: rgb(107, 164, 47);
  border-style: inset;
}

li{
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  
  body{
    text-align: center;
  }

  h1{
    font-size: 9vw;
  }

  h2{
    font-size: 9vw;
  }

  .homeSection{
    width: 80%;
    margin: auto;
  }

  .welcomeImage{
    padding: 0;
    margin: 0;
  }

  .sectionFlex{
    flex-direction: column;
  }

  .button{
    margin: 20px auto 20px;
    font-size: 8vw;
  }
}